*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
}

:root {
  font-size: 62.5%;
  /* colors for background, shadows and texts */
  --white: #fff;
  --red: #dc0a2b;
  --black: #232323;
  --gray: #929292;

  /* variables for pokemon types */
  --grass: #9bcc50;
  --poison: #5e2d6c;
  --fire: #fd7d24;
  --water: #3dc7ef;
  --ice: #3dc7ef89;
  --flying: #4592c4;
  --bug: #729f3f;
  --fighting: #d56723;
  --normal: #a4acaf;
  --electric: #eed535;
  --ground: #f7de3f;
  --fairy: #fdb9e9;
  --psychic: #f366b9;
  --rock: #a38c21;
  --steel: #9eb7b8;
  --ghost: #f8f8ff;
  --dragon: #7038f8;
}

img {
  display: block;
  max-width: 100%;
}

/* ===== LOADING SCREEN ===== */

.loading-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

/* ===== HEADER ===== */
header {
  background: var(--red);
  width: 100%;
  padding: 2rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header form #search-input {
  width: min(80vw, 700px);
  margin: 1rem auto;
  padding: 1.2rem;
  border-radius: 0.5rem;
  position: relative;
  transition: box-shadow 0.5s;
  background: #ae0f28;
}

header form #search-input::placeholder {
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: bold;
}

header form #search-input:focus {
  box-shadow: 0px 0px 0 5px rgba(0, 0, 0, 0.5);
  color: var(--white);
}

/* ===== MAIN ===== */

.container {
  max-width: 1170px;
  padding: 1.8rem 0;
  margin: 0 auto;
  font-family: 'Fira Code', monospace;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 20px;
  animation: show 0.5s ease-in-out;
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.card {
  border-radius: 1rem;
  border: 1px solid var(--black);
  background: #fff;
  box-shadow: 4px 4px 5px var(--black);
  width: 280px;
  height: auto;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card span.id {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--gray);
  align-self: flex-end;
}

.card h3 {
  text-transform: capitalize;
  font-size: 3.2rem;
  padding: 1.2rem;
}

.card span.type {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  color: var(--white);
  border-radius: 0.8rem;
  text-transform: capitalize;
}

/* STYLES FOR BACKGROUND CARDS  */
.steel {
  background-color: var(--steel);
}

.grass {
  background-color: var(--grass);
}

.fire {
  background-color: var(--fire);
}

.water {
  background-color: var(--water);
}

.ice {
  background: var(--ice);
}

.bug {
  background-color: var(--bug);
}
.electric {
  background-color: var(--electric);
}

.ground {
  background-color: var(--ground);
}

.rock {
  background-color: var(--rock);
}

.fairy {
  background-color: var(--fairy);
}

.poison {
  background-color: var(--poison);
}

.dragon {
  background-color: var(--dragon);
}

.psychic {
  background-color: var(--psychic);
}

.flying {
  background-color: var(--flying);
}

.fighting {
  background-color: var(--fighting);
}

.normal {
  background-color: var(--normal);
}

.ghost {
  background-color: var(--ghost);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
